.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* buttons in the createOrder component*/
.backBTN {
  background-color: white;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  height: 25px;
}

.cancelBTN {
  background-color: red;
  color: aliceblue;
  border-radius: 5px;
  border-color: red;
  border-width: 1px;
  height: 25px;
}

.paymentBTN {
  background-color: green;
  color: aliceblue;
  border-radius: 5px;
  border-color:green;
  border-width: 1px;
  height: 25px;
}
